{
  "openapi": "3.0.0",
  "info": {
    "title": "Garuda Plex Drone Fleet API",
    "description": "Specification for Drone Fleet API",
    "version": "0.0.1-DRAFT"
  },
  "servers": [
    {
      "url": "https://int.api.garuda.io/fleet/",
      "description": "Development Server"
    }
  ],
  "paths": {
    "/drone/": {
      "post": {
        "tags": [
          "Drone Management"
        ],
        "summary": "Create a new drone",
        "description": "Create New Drone",
        "requestBody": {
          "description": "Drone specification",
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/Drone"
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Airspace Data in GeoJSON",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Drone"
                }
              }
            }
          }
        }
      }
    },
    "/battery_provider/": {
      "post": {
        "tags": [
          "Inventory Management"
        ],
        "summary": "Create new battery provider",
        "requestBody": {
          "$ref": "#/components/requestBodies/ProviderRequest"
        },
        "responses": {
          "200": {
            "$ref": "#/components/responses/BatteryProviderResponse"
          }
        }
      }
    },
    "/battery_provider/{id}": {
      "parameters": [
        {
          "in": "path",
          "required": true,
          "name": "id",
          "schema": {
            "type": "string"
          },
          "description": "Battery Provider ID"
        }
      ],
      "put": {
        "tags": [
          "Inventory Management"
        ],
        "summary": "Update battery provider information",
        "requestBody": {
          "$ref": "#/components/requestBodies/ProviderRequest"
        },
        "responses": {
          "200": {
            "$ref": "#/components/responses/BatteryProviderResponse"
          }
        }
      }
    },
    "/drone_provider/": {
      "post": {
        "tags": [
          "Drone Management"
        ],
        "summary": "Create new drone provider",
        "requestBody": {
          "$ref": "#/components/requestBodies/ProviderRequest"
        },
        "responses": {
          "200": {
            "$ref": "#/components/responses/BatteryProviderResponse"
          }
        }
      }
    },
    "/drone_providers/": {
      "get": {
        "tags": [
          "Drone Management"
        ],
        "summary": "Get a list of drone providers",
        "responses": {
          "200": {
            "description": "List of Drone Providers",
            "content": {
              "application/json": {
                "schema": {
                  "type": "array",
                  "items": {
                    "$ref": "#/components/schemas/DroneProvider"
                  }
                }
              }
            }
          }
        }
      }
    },
    "/drone_models/": {
      "get": {
        "tags": [
          "Drone Management"
        ],
        "summary": "Get a list of drone models",
        "responses": {
          "200": {
            "description": "List of Drone Models",
            "content": {
              "application/json": {
                "schema": {
                  "type": "array",
                  "items": {
                    "$ref": "#/components/schemas/DroneModel"
                  }
                }
              }
            }
          }
        }
      }
    },
    "/drone_provider/{id}": {
      "parameters": [
        {
          "in": "path",
          "required": true,
          "name": "id",
          "schema": {
            "type": "string"
          },
          "description": "Battery Provider ID"
        }
      ],
      "put": {
        "tags": [
          "Drone Management"
        ],
        "summary": "Update drone provider information",
        "requestBody": {
          "$ref": "#/components/requestBodies/ProviderRequest"
        },
        "responses": {
          "200": {
            "$ref": "#/components/responses/BatteryProviderResponse"
          }
        }
      }
    }
  },
  "components": {
    "requestBodies": {
      "ProviderRequest": {
        "description": "Provider specification",
        "required": true,
        "content": {
          "application/json": {
            "schema": {
              "$ref": "#/components/schemas/Provider"
            }
          }
        }
      }
    },
    "responses": {
      "BatteryProviderResponse": {
        "description": "Battery Provider Response Body",
        "content": {
          "application/json": {
            "schema": {
              "$ref": "#/components/schemas/BatteryProvider"
            }
          }
        }
      },
      "DroneProviderResponse": {
        "description": "Drone Provider Response Body",
        "content": {
          "application/json": {
            "schema": {
              "$ref": "#/components/schemas/DroneProvider"
            }
          }
        }
      }
    },
    "schemas": {
      "Provider": {
        "properties": {
          "name": {
            "type": "string"
          },
          "brand": {
            "type": "string"
          },
          "logo": {
            "type": "string"
          },
          "country": {
            "type": "string"
          },
          "status": {
            "type": "string"
          }
        },
        "required": [
          "name",
          "brand"
        ]
      },
      "Battery": {
        "type": "object",
        "properties": {
          "model": {
            "$ref": "#/components/schemas/BatteryModel"
          }
        }
      },
      "ExistingBatteryModel": {
        "type": "object",
        "properties": {
          "id": {
            "type": "string"
          }
        },
        "required": [
          "id"
        ]
      },
      "BatteryModel": {
        "type": "object",
        "properties": {
          "provider": {
            "oneOf": [
              {
                "$ref": "#/components/schemas/Provider"
              },
              {
                "$ref": "#/components/schemas/BatteryProvider"
              }
            ]
          },
          "id": {
            "type": "string"
          },
          "name": {
            "type": "string"
          },
          "chemistry": {
            "type": "string"
          },
          "series": {
            "type": "string"
          },
          "parallel": {
            "type": "string"
          },
          "discharge_rate": {
            "type": "string"
          },
          "capacity": {
            "type": "string"
          },
          "avatar": {
            "type": "string"
          },
          "weight_kg": {
            "type": "string"
          },
          "properties": {
            "type": "object",
            "properties": {
              "dimensions": {
                "type": "object",
                "properties": {
                  "width": {
                    "type": "string"
                  },
                  "length": {
                    "type": "string"
                  },
                  "height": {
                    "type": "string"
                  }
                }
              }
            }
          }
        },
        "required": [
          "name",
          "provider",
          "chemistry",
          "series",
          "parallel",
          "capacity",
          "avatar",
          "weight_kg"
        ]
      },
      "BatteryProvider": {
        "allOf": [
          {
            "$ref": "#/components/schemas/Provider"
          },
          {
            "type": "object",
            "required": [
              "id"
            ],
            "properties": {
              "id": {
                "type": "string"
              }
            }
          }
        ]
      },
      "CameraProvider": {
        "allOf": [
          {
            "$ref": "#/components/schemas/Provider"
          },
          {
            "type": "object",
            "required": [
              "id"
            ],
            "properties": {
              "id": {
                "type": "string"
              }
            }
          }
        ]
      },
      "CameraModel": {
        "type": "object",
        "description": "Camera Model Schema",
        "properties": {
          "provider": {
            "type": "object",
            "oneOf": [
              {
                "$ref": "#/components/schemas/CameraProvider"
              },
              {
                "$ref": "#/components/schemas/Provider"
              }
            ]
          },
          "name": {
            "type": "string"
          },
          "avatar": {
            "type": "string"
          },
          "weight_kg": {
            "type": "string"
          },
          "properties": {
            "type": "object",
            "properties": {
              "sensor_size": {
                "type": "string"
              },
              "image_modes": {
                "type": "array",
                "items": {
                  "type": "string"
                }
              },
              "video_modes": {
                "type": "array",
                "items": {
                  "type": "string"
                }
              },
              "maximum_clip_length": {
                "type": "string"
              },
              "image_file_formats": {
                "type": "array",
                "items": {
                  "type": "string"
                }
              },
              "video_file_formats": {
                "type": "array",
                "items": {
                  "type": "string"
                }
              },
              "lens_focal_length": {
                "type": "string"
              },
              "lens_focal_length_35mm_equiv": {
                "type": "string"
              },
              "optical_zoom": {
                "type": "string"
              },
              "digital_zoom": {
                "type": "string"
              },
              "aperture": {
                "type": "string"
              },
              "image_stabilization": {
                "type": "string"
              },
              "auto_focus": {
                "type": "string"
              },
              "manual_focus": {
                "type": "string"
              },
              "af_modes": {
                "type": "array",
                "items": {
                  "type": "string"
                }
              },
              "af_lock": {
                "type": "boolean"
              },
              "af_assist_lamp": {
                "type": "boolean"
              },
              "focus_distance": {
                "type": "string"
              },
              "metering": {
                "type": "array",
                "items": {
                  "type": "string"
                }
              },
              "max_iso": {
                "type": "object",
                "properties": {
                  "photo": {
                    "type": "string"
                  },
                  "video": {
                    "type": "string"
                  }
                }
              },
              "shutter_speed": {
                "type": "string"
              },
              "modes": {
                "type": "array",
                "items": {
                  "type": "string"
                }
              },
              "white_balance": {
                "type": "array",
                "items": {
                  "type": "string"
                }
              },
              "continuous_shooting": {
                "type": "string"
              },
              "connectivity": {
                "type": "string"
              },
              "storage": {
                "type": "string"
              },
              "power": {
                "type": "string"
              },
              "dimensions": {
                "type": "object",
                "properties": {
                  "length": {
                    "type": "string"
                  },
                  "width": {
                    "type": "string"
                  },
                  "height": {
                    "type": "string"
                  }
                }
              }
            }
          }
        }
      },
      "Drone": {
        "type": "object",
        "description": "Drone schema",
        "properties": {
          "type": {
            "type": "string"
          },
          "purchased_date": {
            "type": "string",
            "description": "Date of purchase"
          },
          "model": {
            "oneOf": [
              {
                "$ref": "#/components/schemas/DroneModel"
              },
              {
                "$ref": "#/components/schemas/ExistingDroneModel"
              }
            ]
          }
        }
      },
      "DroneProvider": {
        "allOf": [
          {
            "$ref": "#/components/schemas/Provider"
          },
          {
            "type": "object",
            "required": [
              "id"
            ],
            "properties": {
              "id": {
                "type": "string"
              }
            }
          }
        ]
      },
      "ExistingDroneModel": {
        "type": "object",
        "description": "Existing Drone Model",
        "properties": {
          "id": {
            "type": "string"
          }
        },
        "required": [
          "id"
        ]
      },
      "DroneModel": {
        "type": "object",
        "description": "New Drone Model",
        "properties": {
          "id": {
            "type": "string"
          },
          "name": {
            "type": "string"
          },
          "category": {
            "type": "string",
            "enum": [
              "Quadcopter",
              "Hexacopter",
              "Octocopter",
              "Fixedwing-plane",
              "Heli",
              "Boat"
            ]
          },
          "avatar": {
            "type": "string"
          },
          "compatibility": {
            "type": "object",
            "properties": {
              "battery_models": {
                "type": "array",
                "items": {
                  "oneOf": [
                    {
                      "$ref": "#/components/schemas/ExistingBatteryModel"
                    },
                    {
                      "$ref": "#/components/schemas/BatteryModel"
                    }
                  ]
                },
                "minItems": 0
              },
              "camera_models": {
                "type": "array",
                "items": {
                  "type": "string"
                },
                "minItems": 0
              }
            }
          },
          "properties": {
            "type": "object",
            "properties": {
              "weight": {
                "type": "string",
                "description": "Weight in Kg"
              },
              "max_flight_time": {
                "type": "string"
              }
            }
          },
          "provider": {
            "oneOf": [
              {
                "$ref": "#/components/schemas/DroneProvider"
              },
              {
                "$ref": "#/components/schemas/Provider"
              }
            ]
          }
        }
      }
    }
  },
  "tags": [
    {
      "name": "Drone Management",
      "description": "Drone Fleet Management"
    }
  ]
}